.auth-container header p {
  color: var(--very-light-grey);
}

.auth-container header h2 {
  text-decoration: underline;
  text-decoration-color: var(--blue);
}

.auth-container {
  background-color: var(--dark-blue);
  box-shadow: inset 0px 0px 20px -1px #1d1d21;
}

.logout{
  margin-top: 1px;
}

.login{
  margin-top: 1px;

}