<div
  class="modal fade"
  id="confirmDeleteModal"
  tabindex="-1"
  aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-container">
      <div class="modal-header border-0">
        <div class="d-flex justify-content-between align-items-center w-100">
          <h4 class="modal-title" id="confirmDeleteModalLabel">
            Delete <span>/</span>{{ selectedAlias }}
          </h4>
          <img
            src="icons/close-icon.svg"
            class="icon cursor-pointer"
            (click)="closeModal()"
          />
        </div>
      </div>
      <div class="modal-body">
        <p class="confirm-p">
          Please enter the alias "<strong>{{ selectedAlias }}</strong
          >" to confirm deletion:
        </p>
        <p class="advice">
          Acces to the link will be <strong>removed</strong> please do this with
          caution.
        </p>
        <input
          type="text"
          class="form-control modal-input"
          [(ngModel)]="inputAlias"
          placeholder="{{ selectedAlias }}"
          autocomplete="off"
        />
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          [disabled]="inputAlias.trim() !== selectedAlias.trim()"
          (click)="confirmDeletion()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
