<header class="d-flex gap-3 w-100 h-100">
  <nav
    class="nav p-1 shadow-sm overflow-hidden align-items-center d-flex justify-content-between w-100"
  >
    <div class="nav-item d-flex align-items-center gap-2 py-2 px-3">
      <img
        src="logo.svg"
        class="logo cursor-pointer"
        routerLink="/"
        routerLinkActive="active"
      />
      <h1
        class="fw-bold cursor-pointer fs-1 mt-1"
        routerLink="/"
        routerLinkActive="active"
      >
        Squash
      </h1>
    </div>
    <div class="nav">
      <ul class="nav px-3">
        <li class="nav-item d-flex align-items-center gap-2 py-2">
          <a
            class="nav-link active fw-semibold fs-4"
            href="https://github.com/Toom-droid/Squash"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/icons/github-icon.svg"
              class="icon mb-1"
              alt="link icon"
            />
          </a>
        </li>
        <li class="nav-item d-flex align-items-center gap-2 py-2">
          <div *ngIf="!isLoggedIn">
            <div
              class="btn d-flex align-items-center justify-content-center gap-1"
              routerLink="/auth"
              routerLinkActive="active"
            >
              <p class="text-white">Get Started</p>
              <img
                src="/icons/right-icon.svg"
                class="icon right-arrow"
                alt="right arrow icon"
              />
            </div>
          </div>
          <div *ngIf="isLoggedIn">
            <a
              class="nav-link active fw-semibold fs-4"
              routerLink="/auth"
              routerLinkActive="active"
            >
              <img src="/icons/avatar-icon.svg" class="icon" alt="link icon" />
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
