.nav-item p{
  color: var(--very-light-grey);
  margin: 0;
}

.nav-item p:hover{
  color: var(--blue);
}

.nav-item h1{
  color: var(--blue);
  margin: 0;
}

.nav{
  background-color: var(--black);
}

