<!-- Modal -->
<div
  class="modal fade"
  id="createModal"
  tabindex="-1"
  aria-labelledby="createModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <div class="d-flex justify-content-between align-items-center w-100">
          <h4 class="modal-title" id="confirmDeleteModalLabel">
            New Link
          </h4>
          <img
            src="icons/close-icon.svg"
            class="icon cursor-pointer"
            (click)="closeModal()"
          />
        </div>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="createForm">
          <div class="mb-3">
            <label for="baseUrl" class="form-label">URL:</label>
            <input
              type="text"
              id="baseUrl"
              class="form-control modal-input"
              formControlName="baseUrl"
              placeholder="https://"
              autocomplete="off"
            />
            <div
              *ngIf="
                createForm.get('baseUrl')?.invalid &&
                createForm.get('baseUrl')?.touched
              "
              class="text-danger mt-1"
            >
              Url is required
            </div>
          </div>

          <div class="mb-3">
            <label for="alias" class="form-label">Alias:</label>
            <input
              type="text"
              id="alias"
              class="form-control modal-input"
              formControlName="alias"
              placeholder="my link"
              autocomplete="off"
            />
            <div
              *ngIf="
                createForm.get('alias')?.invalid &&
                createForm.get('alias')?.touched
              "
              class="text-danger mt-1"
            >
              Alias is required.
            </div>
          </div>

          <div class="modal-footer border-0">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              [attr.data-bs-dismiss]="createForm.valid ? 'modal' : null"
              [disabled]="createForm.invalid"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
