<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="updateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <div class="d-flex justify-content-between align-items-center w-100">
          <h4 class="modal-title" id="confirmDeleteModalLabel">
            Update link <strong><span>/</span>{{ alias }}</strong>
          </h4>
          <img
            src="icons/close-icon.svg"
            class="icon cursor-pointer"
            (click)="closeModal()"
          />
        </div>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="updateForm">
          <div class="mb-3">
            <label for="baseUrl" class="form-label">URL:</label>
            <input
              type="text"
              id="baseUrl"
              class="form-control modal-input"
              formControlName="baseUrl"
              placeholder="https://"
              [(ngModel)]="url.baseUrl"
              autocomplete="off"
            />
            <div
              *ngIf="
                updateForm.get('baseUrl')?.invalid &&
                updateForm.get('baseUrl')?.touched
              "
              class="text-danger mt-1"
            >
              Url is required
            </div>
          </div>

          <div class="mb-3">
            <label for="alias" class="form-label">Alias:</label>
            <input
              type="text"
              id="alias"
              class="form-control modal-input"
              formControlName="alias"
              placeholder="my link"
              autocomplete="off"
              [(ngModel)]="url.alias"
            />
            <div
              *ngIf="
                updateForm.get('alias')?.invalid &&
                updateForm.get('alias')?.touched
              "
              class="text-danger mt-1"
            >
              Alias is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="alias" class="form-label">Description:</label>
            <input
              type="text"
              id="description"
              class="form-control modal-input"
              formControlName="description"
              placeholder="my link"
              autocomplete="off"
              [(ngModel)]="url.description"
            />
          </div>
          <div class="mb-3">
            <label for="alias" class="form-label">Flag:</label>
            <input
              type="text"
              id="flag"
              class="form-control modal-input"
              formControlName="flag"
              placeholder="my link"
              autocomplete="off"
              [(ngModel)]="url.flag"
            />
          </div>

          <div class="modal-footer border-0">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              [attr.data-bs-dismiss]="updateForm.valid ? 'modal' : null"
              [disabled]="
                updateForm.invalid ||
                (url.alias === alias && url.baseUrl === baseUrl && url.description === description && url.flag === flag)
              "
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
