<footer class="app-footer overflow-hidden d-flex flex-column gap-3 px-5">
  <ul class="d-flex gap-2 justify-content-between px-5 py-3 list-unstyled">
    <li class="d-flex align-items-center">
      <div class="d-flex justify-content-center align-items-center gap-2">
        <img src="/icons/code-icon.svg" class="icon" alt="Code icon" />
        Made by Tomas using Angular + ASP.NET Core
      </div>
    </li>
    <div class="d-flex gap-4">
      <li class="d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center gap-2">
          <img src="/icons/in-icon.svg" class="icon" alt="LinkedIn icon" />
          <a
            href="https://www.linkedin.com/in/tomasanastacio/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none"
            >LinkedIn</a
          >
        </div>
      </li>
      <li class="d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center gap-2">
          <img src="/icons/github-icon.svg" class="icon" alt="Github icon" />
          <a
            href="https://github.com/Toom-droid"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none"
            >Github</a
          >
        </div>
      </li>
    </div>
  </ul>
</footer>
